@import '../../../global.css';

.status-section {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to the top */
  align-items: left;
  border-top: var(--border-style);
  padding: 1rem;
  box-sizing: border-box;
}

.status-section h3 {
  margin-bottom: 1rem;
}

.json-container {
  width: 100%;
  height: calc(100% - 40px); /* Adjust height considering the header */
  overflow-y: auto; /* Scrollable JSON data */
  background-color: var(--background-color);
  padding: 0.5rem;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  box-sizing: border-box;
}