@import '../../../global.css';

.status-section {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-top: var(--border-style);
  padding: 1rem;
  box-sizing: border-box;
}

.status-section h3 {
  margin-bottom: 1rem;
}

.status-content {
  display: flex;
  width: 100%;
  height: calc(100% - 40px);
}

.json-list {
  width: 30%;
  height: 100%;
  overflow-y: auto;
  background-color: var(--background-color);
  padding: 0.5rem;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  margin-right: 1rem;
}

.json-list-item {
  padding: 0.5rem;
  cursor: pointer;
  border-bottom: 1px solid var(--border-color);
}

.json-list-item:hover {
  background-color: var(--hover-background-color);
}

.json-container {
  width: 70%;
  height: calc(100% - 40px);
  overflow-y: auto;
  background-color: var(--background-color);
  padding: 0.5rem;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  box-sizing: border-box;
}