.dxf-view {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  margin: 10px, 10px;
}

.drawing-area {
  width: 100%;
  height: 100%;
}