@import '../../../global.css';

.upload-file {
  flex: 0 0 10%;
  padding: 1rem;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
}

.upload-btn {
  padding: 10px 10px;
  font-size: 24px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--background-color);
  border: none;
  border-radius: var(--button-border-radius);
  transition: background-color 0.3s;
  box-shadow: var(--shadow);
}

.upload-btn:hover {
  background-color: var(--secondary-color-hover);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .upload-file {
    width: 100%;
  }

  .upload-btn {
    font-size: 18px;
    padding: 8px 16px;
  }
}
