@import '../../global.css';

.pages-list {
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  margin-bottom: 1rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  box-shadow: var(--shadow);
  height: 40%;
}

.pages-list ul {
  list-style-type: none;
  padding: 0;
}

.pages-list li {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.pages-list li:hover {
  background-color: #e0e0e0;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.pages-list p {
  padding: 0.5rem;
  color: #888;
}