.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 25%;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: var(--primary-color);
  border-right: var(--border-style);
  box-shadow: var(--shadow);
  padding: 1rem;
  border-radius: var(--border-radius);
  font-size: 24px;
}
