@import '../../global.css';

.upload-file {
  height: 25%;
  padding: 1rem;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.upload-file h2 {
  font-size: 24px;
  margin-bottom: 1rem;
  text-align: left;
}

.drag-drop-area {
  width: 100%;
  height: 50%;
  border: 2px dashed var(--border-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #f8f9fa;
  transition: background-color 0.3s;
}

.drag-drop-area.dragging {
  background-color: #e0e0e0;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.drag-drop-area p {
  margin: 0;
  color: #888;
}

input[type="file"] {
  display: none;
}

.upload-btn {
  padding: 10px 20px; 
  font-size: 24px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

@media (max-width: 768px) {
  .upload-file {
    height: auto;
    width: 100%;
  }

  .upload-btn {
    font-size: 18px;
    padding: 8px 16px;
  }
}